.home-page{
    width:100%;
    margin:0;
    padding:0;
    height:100vh;
    background-image: url('../img/c0.jpg'), url('../img/c1.jpg'), url('../img/c2.jpg'), url('../img/c3.jpg'), url('../img/c4.jpg'), url('../img/c0.jpg');
    background-size: cover, cover, cover, cover, cover, cover;
    background-repeat: no-repeat;
    animation-name: bg-carousel;
    background-position: 0vw 0vh, 100vw 0vh, 200vw 0vh, 300vw 0vh, 400vw 0vh, 500vw 0vh;
    animation-duration: 30s;
    filter:grayscale(100%);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index:-10000;
    position:absolute;
    /* filter:brightness(50%); */
}

.home-page:after {
    content: "";
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    background: rgba(0,0,0,0.7);
    pointer-events: none;
  }

@keyframes bg-carousel {
    0%{
        background-position: 0vw 0vh, 100vw 0vh, 200vw 0vh, 300vw 0vh, 400vw 0vh, 500vw 0vh;
    }
    15%{
        background-position: 0vw 0vh, 100vw 0vh, 200vw 0vh, 300vw 0vh, 400vw 0vh, 500vw 0vh;
    }
    20%{
        background-position: -100vw 0vh, 0vw 0vh, 100vw 0vh, 200vw 0vh, 300vw 0vh, 400vw 0vh;
    }
    35%{
        background-position: -100vw 0vh, 0vw 0vh, 100vw 0vh, 200vw 0vh, 300vw 0vh, 400vw 0vh;
    }
    40%{
        background-position: -200vw 0vh, -100vw 0vh, 0vw 0vh, 100vw 0vh, 200vw 0vh, 300vw 0vh;
    }
    55%{
        background-position: -200vw 0vh, -100vw 0vh, 0vw 0vh, 100vw 0vh, 200vw 0vh, 300vw 0vh;
    }
    60%{
        background-position: -300vw 0vh, -200vw 0vh, -100vw 0vh, 0vw 0vh, 100vw 0vh, 200vw 0vh;
    }
    75%{
        background-position: -300vw 0vh, -200vw 0vh, -100vw 0vh, 0vw 0vh, 100vw 0vh, 200vw 0vh;
    }
    80%{
        background-position: -400vw 0vh, -300vw 0vh, -200vw 0vh, -100vw 0vh, 0vw 0vh, 100vw 0vh;
    }
    95%{
        background-position: -400vw 0vh, -300vw 0vh, -200vw 0vh, -100vw 0vh, 0vw 0vh, 100vw 0vh;
    }
    100%{
        background-position: -500vw 0vh, -400vw 0vh, -300vw 0vh, -200vw 0vh, -100vw 0vh, 0vw 0vh;
    }
}