.navbar{
    color:black;
    width:100%;
    padding-left: 2%;
    /* padding-top:2%; */
}

.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%) !important; /* override background image gradient w/ flat color */
    border-radius: 10px;
    /* width:0%; */
    /* filter:brightness(0%); */
}

.content{
    color:black;
    opacity:1;
    font-weight: thin;
    /* font-size: 1.5em; */
}

.content:hover{
    color:#BAB866;
}